

.barra-top{
    background-color: red;
    width: 100%;
    height: 30px;
}
.barra-top p {
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 6px;
    margin-left: 15px;
}

nav{ 
    float: left;
    width: 100%;
}
.nav-item{
    font-size:170%;
   
    }

<<<<<<< HEAD
.car{
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 70px ;
}
=======
.logo{
    position: relative;
    float: left;
    width: 17%;
    height: 20S%; 
    border:0; 
}


.cuenta{
    padding-left: 50%;
}
.dropdown{
    float:right;
}


>>>>>>> 626d5ef235bc8acda68d22b13df6d17fdbd4fd29

.sec{
    position: relative;
    width: 100%;
    height: 40%;
    margin-top: 130px;
}

#d1 img{  
    float: left;
    width: 48%;
    height:450px;
    margin-right: 2%;
}

#d2 img{  
    float: center;
    width: 48%;
    height: 450px;
    margin-left: 2%;
}

#fon img{
    width: 100%;
    height: 160px;
}

.CallToAction{
    width: 100%;
    height: 120px;
    background-color: red;  
}

#w{
    display: none;
}

#p1{
    border-radius: 8px;
    padding: 10px;
    background: #b4b4b4;
    font-size: 40px;
    float: right;
    margin-right: 200px;
    margin-top: -100px;
    color: white;
}

.p2{ 
    text-align: left;   
    font-size: 50px;
    color: #ffff;
    margin-left: 100px;
    font-family: bold;
    padding-top: 25px;
}
.seccion1{
    display: flex;
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 40px;
}

.cajaseccion1{
    text-align: center;
    float: left;
    padding-right: 100px;
    padding-left: 100px;
}
.seccion2{
    display: flex;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
}
.cajaseccion2{
    text-align: center;
    float: left;
    padding-right: 100px;
    padding-left: 100px;
}
.boton{
    text-decoration: none;
    background-color: red;
    text-align: center;
    border-style: none;
    padding: 8px;
    border-radius: 6px;
    color: #ffffff;
}

.divFooter{
    float: left;
    margin-right: 100px;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
hr{
    width: 95%;
    border-top-color: red;
}
.footer{
    background: #d4d4d4;
   padding-bottom: 10px;
    padding-top: 20px;
}
p, h3, h1{
    text-align: center;
}

.product1{
    background-image: url(img/camisa.jpg);
    width: 190px;
    height: 250px;
    background-repeat: no-repeat;
}
.product1:hover{
    background: url(img/camisa_1.jpg) no-repeat;
}
.product2{
    background-image: url(img/camiseta.jpg);
    width: 190px;
    height: 250px;
    background-repeat: no-repeat;
}
.product2:hover{
    background: url(img/camiseta_1.jpg) no-repeat;
}
.product3{
    background-image: url(img/jeans.jpg);
    width: 190px;
    height: 250px;
    background-repeat: no-repeat;
}
.product3:hover{
    background: url(img/jeans_1.jpg) no-repeat;
}
.product4{
    background-image: url(img/shorts.jpg);
    width: 190px;
    height: 250px;
    background-repeat: no-repeat;
}
.product4:hover{
    background: url(img/shorts_1.jpg) no-repeat;
}
.product5{
    background-image: url(img/joggers.jpg);
    width: 190px;
    height: 250px;
    background-repeat: no-repeat;
}
.product5:hover{
    background: url(img/joggers_1.jpg) no-repeat;
}
.product6{
    background-image: url(img/buso.jpg);
    width: 190px;
    height: 250px;
    background-repeat: no-repeat;
}
.product6:hover{
    background: url(img/buso_1.jpg) no-repeat;
}