

header{
    
    background-color: red;
    width: 100%;
    height: 30px;
}

nav{ 
    float: left;
    width: 100%;
    height: 170px;
}


.logo{
    position: relative;
    float: left;
    width: 15%;
    height: 100;
    margin-top: 15px;  
}

.bus {
    position: relative;
    float: right;
    width: 170px;
    height: 150px;
    margin-top:  -15px;
    margin-right:30px; 

}

#menu{
    position: relative;
    float:right;  
    margin-right:96px;
    margin-top: -75px;   
}

#menu li{ 
    
    display: inline;
    margin:20px;
    width: 60%;
    min-height: 80px;
    text-align: right;
    background:transparent;
    list-style: none;
    padding: 10px 15px;
    font-size: 30px;
}

#menu ul{
    display: none;
    position: relative;
    margin: 40px;
    margin-top: 10%;
}

.car{
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 35px;
    margin-right: 70px ;
}

.sec{
    position: relative;
    width: 100%;
    height: 40%;
    margin-top: 130px;
}

#d1 img{  
    float: left;
    width: 48%;
    height:450px;
    margin-right: 2%;
}

#d2 img{  
    float: center;
    width: 48%;
    height: 450px;
    margin-left: 2%;
}

#fon img{
    width: 100%;
    height: 160px;
}

.CallToAction{
    width: 100%;
    height: 120px;
    background-color: red;
    margin-top: -44px;   
}

#w{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 350px;
    margin-top: -50px;
}

#p1{
    font-size: 40px;
    font-style: helvetica;
    font-family: bold;
    float: right;
    margin-right: 200px;
    margin-top: -100px;
    color: white;
}

.p2{    
    font-size: 50px;
    font-style: helvetica;
    color: #ffff;
    margin-left: 100px;
    font-family: bold;
    margin-top: 40px;
}
.seccion1{
    display: flex;
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
}

.cajaseccion1{
    float: left;
    padding-right: 100px;
    padding-left: 100px;
}
.seccion2{
    display: flex;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
}
.cajaseccion2{
    float: left;
    padding-right: 100px;
    padding-left: 100px;
}
.boton{
    background-color: red;
    text-align: center;
}

.divFooter{
    float: left;
    margin-right: 100px;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
hr{
    width: 95%;
    border-top-color: red;
}
.footer{
    background: #d4d4d4;
   padding-bottom: 10px;
    padding-top: 20px;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
h1,{
    text-align: center;
}
