.barra-top{
    background-color: red;
    padding-top: 4px;
    padding-bottom: 4px;
}
.barra-top p {
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 6px;
    margin-left: 15px;
    float: left;
}
.dropdown{
    margin-left: 90%;
}
.btn-secondary {
    padding-right: 13%;
    padding-left: 13%;
}
.nav-item{
    font-size: 170%;
    }
/*.navbar{
    float: left;
}*/
.btn-outline-success{
    color: black;
    border-color: black;
} 
 
.form-inline {
    margin-left: 50px;
}
.carrito{

    float: left;
    margin-left: 10px;
    border-radius: revert;
}


.CallToAction{
    width: 100%;
    height: 120px;
    background-color: red;  
    margin-top: 10px;
}
.CallToAction h1{
      font-weight: bold;
      padding: 6px;
    margin-right:210px;
    margin-top:20px;
    float: left;

}

.contacto{
    margin-left: 70%;
}
#w{
    display: none;
}
#p1{
    border-radius: 8px;
    padding: 10px;
    background: #b4b4b4;
    font-size: 40px;
    float: right;
    margin-right: 200px;
    margin-top: -100px;
    color: white;
}
.p2{ 
    text-align: left;   
    font-size: 50px;
    color: #ffff;
    margin-left: 100px;
    font-family: bold;
    padding-top: 25px;
}

.divFooter{
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    
}
hr{
    border-top-color: red;
}
.footer{
    background: #d4d4d4;
   padding-bottom: 10px;
    padding-top: 20px;
}
h3, h1, h5{
    text-align: center;
}

p{
    padding-left: 40%;
}

.seccion1, .seccion2{
    justify-content: space-evenly;
    display: flex;
    padding-left: 0.1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*código nuevo menú */


.card-img{
    width: inherit;
}

.card-body{
    text-align: center;
}

p.card-text {
    padding-left: 0%;
}

h2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3px;
}
.phone{
    text-align: center;
} 

.divpadre{
    display: flex;
    margin-left: 25%;
    padding-top: 3%;
    padding-bottom: 4%;
}
.divhijo{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.correo{
    text-align: center;
    padding-bottom: 4%;
}

.equipo{
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.nosotros1{
    padding-right: 3%;
}